.rwstripe_customer_portal_shortcode a,
.rwstripe_customer_portal_shortcode a:link,
.rwstripe_customer_portal_shortcode .rwstripe-customer-portal-button {
	background-color: #EFEFEF;
	background-image: none;
	border: 1px solid #D6D6D6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.rwstripe_customer_portal_shortcode a:focus,
.rwstripe_customer_portal_shortcode .rwstripe-customer-portal-button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.rwstripe_customer_portal_shortcode a:focus,
.rwstripe_customer_portal_shortcode a:hover,
.rwstripe_customer_portal_shortcode .rwstripe-customer-portal-button:hover {
	-webkit-box-shadow: none;
	border-color: #D6D6D6;
	box-shadow: none;
	text-decoration: none;
}

.rwstripe_customer_portal_shortcode a,
.rwstripe_customer_portal_shortcode a:link {
	margin: 10px 10px 0 0;
}

.rwstripe-customer-portal-button:active {
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	outline: 0;
}
.rwstripe-customer-portal-button.disabled {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: 0.65;
	pointer-events: none;
}

/**
 * Restricted content message styles.
 */
.rwstripe-checkout {
	align-items: center;
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	border-radius: 4px;
	box-shadow: 0 6px 12px -4px rgb(50 50 93 / 20%), 0 3px 7px -5px rgb(0 0 0 / 25%);
	color: #222;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 22px;
	padding: 40px;
}
.rwstripe-checkout > * {
}
.rwstripe-checkout p {
	margin: 0 0 20px 0;
}
.rwstripe-checkout-heading {
	color: #444;
	font-size: 28px;
	font-weight: bold;
	line-height: 36px;
	margin: 0 0 20px 0;
	text-align: center;
}
.rwstripe-checkout-heading:before {
	color: #444;
	content: "\f160";
	display: inline-block;
	font-family: dashicons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 34px;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
	speak: never;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	vertical-align: text-bottom;
}

/**
 * Restricted content formatted price styles.
 */
.rwstripe-price {
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-bottom: 20px;
}
.rwstripe-price-unit {
	font-size: 28px;
	font-weight: 400;
	line-height: 36px;
}
.rwstripe-price-per {
	margin-left: 8px;
}
.rwstripe-price-interval-count {
	margin-left: 2px;
}
.rwstripe-price-interval {
	margin-left: 2px;
}

/**
 * Register and select products form.
 */
.rwstripe-register {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.rwstripe-register input[type="email"],
.rwstripe-register input[type="password"] {
	background-color: #FFF;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgb(50 50 93 / 10%);
	color: #222;
	font-size: 16px;
	height: 40px;
	margin-bottom: 10px;
	max-width: 350px;
	padding: 0 14px;
	width: 100%;
}
.rwstripe-register select {
	background-color: #FFF;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgb(50 50 93 / 10%);
	color: #222;
	font-size: 16px;
	height: 40px;
	margin-bottom: 10px;
	max-width: 380px;
	padding: 0 14px;
	width: 100%;
}
.rwstripe-register option {
	padding-left: 14px;
}
.rwstripe-register button {
	background-color: #32325d;
	border: none;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 40px;
	max-width: 380px;
	padding: 0 14px;
	text-decoration: none;
	-webkit-transition: all .15s ease;
    transition: all .15s ease;
	white-space: nowrap;
	width: 100%;
}
.rwstripe-register button:hover {
	background-color: #3b3c79;
	transform: translateY(-1px);
}
.rwstripe-error {
	width: 100%;
}
.rwstripe-error div {
    background-color: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 20px 0;
	padding: 10px 14px;
	text-align: center;
	width: auto;
}

/**
 * Category or tag restriction message
 */
.rwstripe-term-restriction-message {
	text-align: center;
	margin: auto;
	width: 610px;
}
