.rwstripe-customer-portal-button {
	background-color: #EFEFEF;
	background-image: none;
	border: 1px solid #D6D6D6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.rwstripe-customer-portal-button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.rwstripe-customer-portal-button:hover {
	-webkit-box-shadow: none;
	border-color: #D6D6D6;
	box-shadow: none;
	text-decoration: none;
}

.rwstripe-customer-portal-button:active {
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	outline: 0;
}
.rwstripe-customer-portal-button.disabled {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: 0.65;
	pointer-events: none;
}