# Items to ignore when downloading a zip
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.wordpress-org export-ignore
README.md export-ignore
package.json export-ignore
restrict-with-stripe-banner.jpg export-ignore
webpack.config.js export-ignore
